html, body {
  background-image: linear-gradient(to right, #f88847, #054d50);
  height: 100%;
}

h1 {
  font-family: 'Special Elite', cursive;
  color: rgb(12, 146, 146);
}
.container {
  background-color: #054d50;
}
p {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  color: rgb(14, 73, 112);
}
nav {
  font-family: 'Bitter', serif;
}
.jumbotron {
  background: rgb(240, 229, 202)
}
a {
  color: #f88847;
}
img {
    align-content: center;
    width: 100%;
    height: 100%;
}
.col-lg-3 {
  align-content: center;
}
.col-lg-9, p {
  font-family: 'Slabo 27px', serif;
  font-size: 35px;
  color: #054d50;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: gray;
    width: 75%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: rgb(14, 73, 112);
    font-family: 'Slabo 27px', serif;
    font-size: 40px;
  }
footer {
    background: #054d50;
    color: #f88847;
}
.img-fluid {
  align-content: center;
  border: 3px solid  #054d50;
 margin: 10px;
    width: 80%;
    height: 90%;
}